image: node:18

stages:
  - bootstrap
  - build

bootstrap:
  stage: bootstrap
  script:
    - set -e
    - node --version
    - npm --version
    - pwd
    - ls -lah
    - npm ci

build:server:
  stage: build
  script:
    - set -e
    - cd server
    - pwd
    - ls -lah
    - npm ci
